.footer {
  position: fixed;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.header {
  background-color: rgb(253, 207, 240);
  color: black;
  height: 50px;
  text-align: left;
}

.container {
  flex: 1;
  background: rgb(240, 247, 181);
  min-height: 100%;
  margin-bottom: 100px;
  clear: both;
  overflow: auto;
}